# Test config file for Hyper, mostly yoinked from the Hyper repo with some modifications
default-entry = "Test OS with Shill prekernel"

[Test OS with Shill prekernel]
protocol = ultra

cmdline  = "--test-arg"

binary:
    path              = "/shill"
    allocate-anywhere = true

module:
    name = "SHILL_KERNEL_IMAGE_START"
    path = "::/kernel"

#module:
#    type = "memory"
#    name = "allocator-bootstrap"
#
#    # 1M
#    size=0x100000

video-mode:
    width=1024
    height=768
    bpp=32
    format=xrgb8888
